body {
  font-size: 16px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  box-shadow: 0 0 30px #333;
  border: 1px solid #999;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #bbb;
}

th {
  background-color: #000;
  color: #fff;
}

.highlight {
  background-color: #ccc;
}

.title {
  font-size: larger;
  color: yellow;
}
